# --- GENERAL SETTINGS ---
DOMAIN_NAME=localhost
HOST_DOWNLOADS_PATH=~/Downloads

# --- USER SERVICE & USER DB ---
POSTGRES_DB=transcendence_db
POSTGRES_USER=change_me_user
POSTGRES_PASSWORD=change_me_strong_password
POSTGRES_HOST=user_db
POSTGRES_PORT=5432
SECRET_KEY=change_me_django_secret_key

# --- DJANGO ADMIN ---
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=change_me_admin_password
DJANGO_SUPERUSER_DISPLAY_NAME=administrator

# --- 42 API ---
FT_CLIENT_ID=your_42_client_id_here
FT_CLIENT_SECRET=your_42_client_secret_here
FT_REDIRECT_URI=https://localhost:8443/api/v1/user/auth/callback/

# --- ROOM SERVICE & ROOM DB ---
POSTGRES_DB_room=room_db
POSTGRES_USER_room=change_me_room_user
POSTGRES_PASSWORD_room=change_me_room_password

# --- COMBAT SERVICE & COMBAT DB ---
DB_HOST_COMBAT=combat_db
DB_PORT_COMBAT=5432
DB_USERNAME_COMBAT=change_me_combat_user
DB_PASSWORD_COMBAT=change_me_combat_password
DB_NAME_COMBAT=combat_games

# --- STATS SERVICE & STATS DB ---
POSTGRES_DB_stats=game_stats_db
POSTGRES_USER_stats=change_me_stats_user
POSTGRES_PASSWORD_stats=change_me_stats_password
STATS_DB_HOST=statistics_db
STATS_DB_PORT=5432
STATS_DB_NAME=game_stats_db
STATS_DB_USER=change_me_stats_user
STATS_DB_PASS=change_me_stats_password
