# format/
# learning_material/
# planlama/
# .env

# Ignore the downloaded C++ libraries
srcs/requirements/backend/cpp_backend/tools/asio/
srcs/requirements/backend/cpp_backend/tools/asio.hpp
srcs/requirements/backend/cpp_backend/tools/crow_all.h

# Ignore node modules
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore build artifacts
*.o
*.exe
sudoku_server