.env
.env.*
!.env.example

srcs/requirements/backend/cpp_backend/tools/asio/
srcs/requirements/backend/cpp_backend/tools/asio.hpp
srcs/requirements/backend/cpp_backend/tools/crow_all.h

*.o
*.exe
sudoku_server

__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.pyc

~$*

db.sqlite3
db.sqlite3-journal
staticfiles/

.docker-compose.un~

node_modules/
dist/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db