<!DOCTYPE html>
<html>
<body>
    <h1>Welcome to Sudoku Combat</h1>
    
    {% if user.is_authenticated %}
        <p>You are already logged in as <b>{{ user.username }}</b>.</p>
        <a href="/dashboard/">Go to Dashboard</a>
    {% else %}
        <div>
            <h3>Option 1: Social</h3>
            <a href="/api/user/auth/login/" style="padding: 10px; background: black; color: white; text-decoration: none;">
                Login with 42 Intra
            </a>
        </div>
        <hr>
        <div>
            <h3>Option 2: Local</h3>
            <form action="/local-login/" method="post">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username"><br>
                <input type="password" name="password" placeholder="Password"><br>
                <button type="submit">Login</button>
            </form>
        </div>
    {% endif %}
</body>
</html>